<li>
    {{resName}}

    <button class="change-liked" data-id="{{id}}" data-newliked="{{#if liked}}{{liked}}{{else}}{{/if}}">
        {{#if liked}}->BOTTOM OF THE PILE{{else}}->TOP OF THE PILE{{/if}}
    </button>
    <button class="delete-resume" data-id='{{id}}'>
        SHRED RESUME
    </button>

</li>