<li>
    {{name}}

    <button class="change-liked" data-id="{{id}}" data-newliked="{{liked}}">
        {{#if liked}}PUT IN STORAGE{{else}}TAKE OUT OF STORAGE{{/if}}
    </button>
    <button class="delete-resume" data-id='{{id}}'>
        X
    </button>

</li>